{% load static %}
{% include "head.html" %}

<!DOCTYPE html>
<html>

  <!-- footer section -->
  <section class="footer" id="footer">
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              <p style="color:rgb(60, 121, 212); font-family:'Rockwell' ">
              Contactanos
            </h4>
            <div class="contact_link_box">
              <a href="https://goo.gl/maps/ijsm5Mcv2jaxmQyu7">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Paraguay 733, </br>Ciudad Autónoma de Buenos Aires
                </a>
                Buenos Aires, Argentina
                </span>
              </a>
              <a>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <div class="footer-logo">
            <h4>
              <p style="color:rgb(60, 121, 212); font-family:'Rockwell' ">
              Nuestras Redes
            </div>
            </h4>
            <p>
              Podés contactarnos también por nuestras redes, siguiendonos en:
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/onuargentina/">
                <i class="fa fa-facebook" aria-hidden="true"style="color:blue"></i>
              </a>
             <!-- <a href="">
               <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
              <a href=""> -->
                <!-- <i class="fa fa-linkedin" aria-hidden="true"></i> -->
              </a>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
              <a href="https://www.instagram.com/onuargentina/">
                <i class="fa fa-instagram" aria-hidden="true"style="color:red"></i>
              </a>
            </a>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
              <a href="https://twitter.com/ONUArgentina">
                <i class="fa fa-twitter" aria-hidden="true"style="color: rgb(60, 121, 212)"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
            <p style="color:rgb(60, 121, 212); font-family:'Rockwell' ">
              © Powered by Django 4.2, SQLite, bootstrap, JavaScript.
            <p>
        </div>
      </div>
      <div class="footer-info">
        
          <img src="{% static 'images/info.png' %}" alt=""> <br>
          Realizado por <b>Informatorio - Etapa 2; Grupo 1</b><br> <br>
          INTEGRANTES: Mercado Alejandro, Quiroz Agustín, Pedro Galarza, Fernández Braian.</b><br>
          <a href="https://themewagon.com/themes/free-bootstrap-4-html5-restaurant-website-template-feane/">          <br>
          plantilla: Theme Wagon  
        </a>
          <br>
        <!--    &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a> -->
        </p>
      </div>
    </div>
  </footer>
</section>
  <!-- footer section -->
